

h1 {
  background: green;
}

.admin-bar nav.navbar {
  top: 0;
}

body {
  background-color:pink;
}

.wp-block-group{
  background: lightgray;
}

.navbar{
  background: #604f4f;
  color: #fff;
}

.navbar-brand{
  color: #fff;
}

.navlink{
  color: #fff;
}

.collapse{
  color: white;
}


.mt-5{
  color: #fff;
}

